<ion-tabs class="tabs-icon-top tabs-color-active-positive">

 

  <!-- PullRefresher Tab -->
  <ion-tab title="pullRefresher" icon-off="ion-android-arrow-dropdown" icon-on="ion-android-arrow-dropdown-circle" href="#/tab/pullRefresher">
    <ion-nav-view name="tab-pullRefresher"></ion-nav-view>
  </ion-tab>

  <!-- DatePicker Tab -->
  <ion-tab title="DatePicker" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/datePicker">
    <ion-nav-view name="tab-datePicker"></ion-nav-view>
  </ion-tab>

   <!-- Foto Tab -->
  <ion-tab title="Foto" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/foto">
    <ion-nav-view name="tab-foto"></ion-nav-view>
  </ion-tab>


</ion-tabs>
